:root{
  --primary-font-size: 28px;
  --second-font-size: 18px;

  --image-rect-size: 150px;
  --item-width: 380px;
  --item-max-width: 600px;
}

body{
  font-family: 'EB Garamond', monospace;
  margin: 0;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

p {
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin: 0 75px;
  padding: 20px 0px;
  font-size: var(--primary-font-size);

  h1{
    margin: 0;
    font-weight: bold;
    font-size: var(--primary-font-size);
  }

  #mode{
    cursor: pointer;
  }

  #collections{
    margin-left: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    li {
      list-style-type: none;
      cursor: pointer;
      margin-left: 4vh;
    }
  }

  #mode-container{
    margin-left: 5%;
    
    ul {
      list-style-type: none;
    
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 60px;
      margin: 0;
      padding: 0;
    }
  }
  
}

#content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 75px;
  gap: 60px;

  h1 {
    font-size: var(--primary-font-size);
  }
}

.item{
  font-size: var(--second-font-size);
  width: var(--item-width);
  max-width: var(--item-max-width);

  display: flex;
  align-items: center;
  gap: 15px;

  img{
    width: var(--image-rect-size);
    height: var(--image-rect-size);
  }

  #drop{
    max-height: 175px;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  #button-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    :is(.collected, .upgraded){
      background-color: rgb(200, 35, 51);
      color: white;
    }

    :is(.common, .missed){
      background-color: rgb(42, 174, 71);
    }

    button {
      font-size: var(--second-font-size);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
  h1{
    margin-bottom: 15px;
  }
  div{
    width: 100%;
  }

}

#details{
  display: flex;
  gap: 30px;

  div > p{
    margin-bottom: 4px;
  }
}



.category-title {
  font-weight: 600;
  font-size: 38px;

  margin: 0 75px;
  display: flex;
  align-items: center;
  text-align: center;
}
.category-title::before, .category-title::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #000;
}
.category-title:not(:empty)::before {
  margin-right: 1em;
}
.category-title:not(:empty)::after {
  margin-left: 1em;
}