name: Code and Json Formatter

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    name: JS & Json Format
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Prettier (JavaScript)
        run: npx prettier --write **/*.{js, json}
      - name: Commit Format Change
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix Files Format (js & json)
          branch: ${{ github.head_ref }}
